header {
   border-bottom: 1 px solid #999;
   margin-bottom: 2 rem;
   display: flex;
}

h1 {
   color: red;
   text-align: center;
}

body {
   font family: 'Source Sans Pro', sans-serif;
   font-size: 18px;
}

.nav-left {
   margin-right: auto;
}

.nav-right {
   display: flex;
   padding-top: 2rem;
}

.post entry {
   margin-bottom: 2rem
}

.post-entry h2 {
   margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
   color: blue;
   text-decoration: none;
}

.post entry p {
   margin: 0;
   font-weight: 400;
}

.post-entry h2 a:hover {
   color: red;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: blue;
  height: 200px;
  text-shadow: 0.25px 0.25px 0.25px #000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}